{{!-- <div class="container">
    <h1>{{username}} Collection</h1>
    <p>Pincha en el disco para obtener mas informacion!</p>
    <a href='/profile'><button class='button-collection'>Volver a Mi Perfil!</button></a>

    <div class="row">
        {{#each records}}
        <div class="col-4">
            <article class="">
                <img src="{{image}}" alt="{{title}}">
                {{title}}
                <a href="search/{{_id}}">/a> <!-- aqui va el search para que te lleve a la info de cada disco -->
            </article>
        </div>
        {{/each}}
    </div>
</div> --}}

<main>
    <section class='jumbotron text center'>
        <div class='container'>
            <h1>{{user.username}} Collection </h1>
        </div>
    </section>
</main>